SIGNALILO_ICINGA_URL={{ signalilo_icinga_url }}
SIGNALILO_UUID={{ signalilo_uuid }}
SIGNALILO_ICINGA_HOSTNAME={{ signalilo_icinga_hostname }}
SIGNALILO_ICINGA_USERNAME={{ signalilo_icinga_username }}
SIGNALILO_ICINGA_PASSWORD={{ signalilo_icinga_password }}
SIGNALILO_ALERTMANAGER_PORT={{ signalilo_alertmanager_port }}
SIGNALILO_ALERTMANAGER_BEARER_TOKEN={{ signalilo_alertmanager_bearer_token }}
SIGNALILO_ICINGA_DEBUG={{ signalilo_icinga_debug }}
SIGNALILO_ALERTMANAGER_PLUGINOUTPUT_ANNOTATIONS="{{ signalilo_alertmanager_pluginoutput_annotations }}"
SIGNALILO_ICINGA_CA="{{ signalilo_icinga_ca }}"
